body{

background:#fff8f2;

font-family:Arial;

text-align:center;

}

h1{

color:maroon;

}

table{

margin:auto;

border-collapse:collapse;

}

table,th,td{

border:1px solid black;

padding:10px;

}

a{

text-decoration:none;

font-size:18px;

}
